<header class="bg-teal text-white text-center py-4 d-flex " style="background-color: #168c8c;">
    <div style="flex-basis: 10rem;">
        <img  style="height: 4rem ; width: 100%; height: 100%; object-fit: cover;" src="../../../../assets/logo.png"/>
    </div>
    <div class="custom-basis">
        <h1 class="fw-bold" style="font-family: serif;">MY ACCOUNT</h1>
        <p class="mb-0">Manage Your Fun: View Tickets, Book Zones, and Track Your Adventure!</p>
    </div>
    <div class="flex-items">
        <span>User</span>
        <img style="height: 2rem;" src="../../../../assets/menu.png"/>
    </div>
  </header>