/* You can add global styles to this file, and also import other style files */
.error-msg {
    color: red;
    font-size: small;
  }

  .anchor-props{
    text-decoration: none;
  }

  .cursor-props{
    cursor: pointer;
  }